### [Youtube Video Data Science](https://www.youtube.com/watch?v=WcDaZ67TVRo)

In [1]:
# print hello world
print(f"Hello World!")

Hello World!

# Data Types

In [11]:
# type(1)
# type(2.4)
type("Hello")
print("Hello World!".count("l"))
print("Hello World!".replace("l", "x"))
"Hello World bob".title()

3
Hexxo Worxd!

'Hello World Bob'

# Variables

In [12]:
message_1 = "I'm learning python"
message_1

"I'm learning python"

# 4  Lists

In [31]:
countries = ["United States", "Ireland", "India", "china"]
print(countries[3].title())
print(countries[-2].title())
# slicing
print(countries[1:3])
print(countries[1:4])
print(countries[1:])
print(countries[:2])

China
India
['Ireland', 'India']
['Ireland', 'India', 'china']
['Ireland', 'India', 'china']
['United States', 'Ireland']

## Adding Elements to the list

In [44]:
countries = ["United States", "Ireland", "India", "china"]
countries.append("Canada")
print(countries)
countries.insert(0, "Spain")
print(countries)
countries_2 = ["UK", "Germany", "Austria"]
print(countries + countries_2)
# nested list
nested_list = [countries, countries_2]
nested_list

['United States', 'Ireland', 'India', 'china', 'Canada']
['Spain', 'United States', 'Ireland', 'India', 'china', 'Canada']
['Spain', 'United States', 'Ireland', 'India', 'china', 'Canada', 'UK', 'Germany', 'Austria']

[['Spain', 'United States', 'Ireland', 'India', 'china', 'Canada'],
 ['UK', 'Germany', 'Austria']]

In [48]:
## Removing an element
countries = ["United States", "Ireland", "India", "china"]
countries.remove("United States")
print(countries)
countries.pop(-1)
print(countries)
del countries[0]
print(countries)

['Ireland', 'India', 'china']
['Ireland', 'India']
['India']

## Sorting a list

In [52]:
numbers = [4, 3, 10, 7, 1, 2]
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

[1, 2, 3, 4, 7, 10]
[10, 7, 4, 3, 2, 1]

## Update an Element

In [54]:
numbers = [4, 3, 10, 7, 1, 2]
numbers[0] = 1000
print(n)

[1000, 3, 10, 7, 1, 2]

## Copying a list

In [58]:
countries = ["United States", "Ireland", "India", "china"]

new_list = countries[:]
print(new_list)
new_list_copy = countries.copy()
print(new_list_copy)

['United States', 'Ireland', 'India', 'china']
['United States', 'Ireland', 'India', 'china']

## 5 Dictionary

In [67]:
my_dict = {"key1": "v1", "key2": "v2"}
print(my_dict)
my_data = {"name": "Frank", "age": 26}
print(my_data)
print(my_data.values())
print(my_data.items())
my_data["height"] = 1.78
print(my_data)
my_data.update({"height": 5.8})
print(my_data)

{'key1': 'v1', 'key2': 'v2'}
{'name': 'Frank', 'age': 26}
dict_values(['Frank', 26])
dict_items([('name', 'Frank'), ('age', 26)])
{'name': 'Frank', 'age': 26, 'height': 1.78}
{'name': 'Frank', 'age': 26, 'height': 5.8}

## 5.0.1 Copy a Dictionary

In [71]:
new_data = my_data.copy()
print(new_data)

{'name': 'Frank', 'age': 26, 'height': 5.8}

## Remove Element

In [78]:
my_data = {"name": "Frank", "age": 26, "height": 5.9}

my_data.pop("name")
print(my_data)

del my_data["age"]
print(my_data)
my_data.clear()
print(my_data)

{'age': 26, 'height': 5.9}
{'height': 5.9}
{}

## 6 If Statment

In [87]:
age = 75
if age == 76:
    print("Hello World! (if)")
elif age < 77:
    print("Goodbye World! (elif)")
else:
    print("Say Hello World! (else)")

Goodbye World! (elif)

## 7 For Loop

In [93]:
countries = ["United States", "Ireland", "India", "china"]
for country in countries:
    print(country)
for i, country in enumerate(countries):
    print(f"{i}: {country}")

my_data = {"name": "Bob", "age": 77}
print(my_data)
for key, value in my_data.items():
    print(f"{key} : {value}")

United States
Ireland
India
china
0: United States
1: Ireland
2: India
3: china
{'name': 'Bob', 'age': 77}
name : Bob
age : 77

## 8 Functions

In [104]:
def sum_values(a,b):
	x =  a + b
	return x
print(sum_values(1,2))
countries = ["United States", "Ireland", "India", "china"]

print(len(countries))
numbers = [10,99,81,3,50]
print(max(numbers))
print(min(numbers))
print(type(countries))
numbers = range(1,10,2)
for x in numbers:
	print(x)

3
4
99
3
<class 'list'>
1
3
5
7
9

## 9 Module

In [109]:
import os
print(os.getcwd())
print(os.listdir())

os.makedirs("New Folder")
print(os.listdir())

c:\Users\me\Documents\VisualCodeSource\DataAnalysis
['.venv', 'example1.ipynb']
['.venv', 'example1.ipynb', 'New Folder']