## Read all_race_data.csv and create a dataframe

In [3]:
import pandas as pd

df_races = pd.read_csv("all_race_data.csv")
df_races.columns
type(df_races["RACE_TRACK"].unique())
# print(df_races["RACE_TRACK"].unique())
df_races = df_races[(df_races["RACE_TRACK"] == 'Bristol') & (df_races["POS"] < 3)].sort_values("RACE_DATE")
df_races[["DRIVER","POS","START","MANUFACTURER","RACE_DATE"]]

                  DRIVER  POS  START MANUFACTURER
334      Brad Keselowski    1      1         Ford
335         Clint Bowyer    2     23         Ford
448        Kevin Harvick    1      4         Ford
449           Kyle Busch    2      9       Toyota
222          Joey Logano    1     10         Ford
223  Ricky Stenhouse Jr.    2     13    Chevrolet
374          Kyle Larson    1      5    Chevrolet
375        Kevin Harvick    2      8         Ford
298           Kyle Busch    1     11       Toyota
299        Tyler Reddick    2      3    Chevrolet
412       Chris Buescher    1     20         Ford
413        Chase Elliott    2     23    Chevrolet
261     Christopher Bell    1      4       Toyota
262        Tyler Reddick    2      6       Toyota