In [3]:
import pandas as pd
import numpy as np

## 1 Creating a dataframe from an array

In [8]:
# creating an array
data = np.array([[1,4],[2,5],[3,6]])
# creating a dataframe
df = pd.DataFrame(data,index=['row1','row2','row3'], columns=['col1','col2'])
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

In [9]:
# creating an array
data = [[1,4],[2,5],[3,6]]
# creating a dataframe
df = pd.DataFrame(data,index=['row1','row2','row3'], columns=['col1','col2'])
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

In [18]:
# lists used for this example
states = ['California','Texas','Florida','New York']
population = [396113493,29730311,21944577,19299981]
# storing lists within a dictionary
dict_states = {'States': states,'Population':population}
df_population = pd.DataFrame(dict_states)
print(df_population)
# created dataframe from cvs file
df_exams = pd.read_csv("StudentsPerformance.csv")
print(df_exams.head())

       States  Population
0  California   396113493
1       Texas    29730311
2     Florida    21944577
3    New York    19299981
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

## Displaying a dataframe

In [24]:
df_exams = pd.read_csv("StudentsPerformance.csv")
# print(df_exams.head())
# print(df_exams.tail())
# print(df_exams.head(10))
print(df_exams.shape)
pd.set_option("display.max_rows",1000)
print(df_exams)

(1000, 8)