## [Pivot Tables](https://www.youtube.com/watch?v=WcDaZ67TVRo&t=11396s)

In [ ]:
import numpy as np
import pandas as pd
df_gdp = pd.read_csv("gdp.csv")
df_gdp.pivot(index="year",columns="country",values="gdppc")

## [Pandas Bug 52558](https://github.com/pandas-dev/pandas/issues/52558)
Make sure you are using pandas 1.5.3 ( pip install "pandas==1.5.3" --force-reinstall)

In [2]:
import pandas as pd
df_sales = pd.read_excel("supermarket_sales.csv.xlsx")
# df_sales = pd.read_csv("supermarket_sales.csv"
df_sales.select_dtypes(exclude=["datetime64","datetime"])
df_sales.pivot_table(index="Gender",aggfunc="sum")
df_sales.pivot_table(index="Gender",values=["Quantity", "Total"],aggfunc="sum") # type: ignore
# df_sales.pivot_table(index="Gender",columns="Product line",values=["Total"],aggfunc="sum").to_csv("supermarket_sales_by_gender.csv") # type: ignore
df_sales.pivot_table(index="Gender",columns="Product line",values=["Total"],aggfunc="sum") # type: ignore

C:\Users\me\AppData\Local\Temp\ipykernel_40508\2974401084.py:5: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  df_sales.pivot_table(index="Gender",aggfunc="sum")

        Quantity       Total
Gender
Female      2869  167882.925
Male        2641  155083.824

In [11]:
import pandas as pd
df_population_raw = pd.read_csv("population_total.csv")
# dropping all null values
df_population_raw = df_population_raw.dropna()

# making a pivot table
df_pivot = df_population_raw.pivot(index="year",columns="country", values="population")
df_pivot = df_pivot[["United States","India","China"]]
df_pivot

country  United States         India         China
year
1955.0     171685336.0  4.098806e+08  6.122416e+08
1960.0     186720571.0  4.505477e+08  6.604081e+08
1965.0     199733676.0  4.991233e+08  7.242190e+08
1970.0     209513341.0  5.551898e+08  8.276014e+08
1975.0     219081251.0  6.231029e+08  9.262409e+08
1980.0     229476354.0  6.989528e+08  1.000089e+09
1985.0     240499825.0  7.843600e+08  1.075589e+09
1990.0     252120309.0  8.732778e+08  1.176884e+09
1995.0     265163745.0  9.639226e+08  1.240921e+09
2000.0     281710909.0  1.056576e+09  1.290551e+09
2005.0     294993511.0  1.147610e+09  1.330776e+09
2010.0     309011475.0  1.234281e+09  1.368811e+09
2015.0     320878310.0  1.310152e+09  1.406848e+09
2016.0     323015995.0  1.324517e+09  1.414049e+09
2017.0     325084756.0  1.338677e+09  1.421022e+09
2018.0     327096265.0  1.352642e+09  1.427648e+09
2019.0     329064917.0  1.366418e+09  1.433784e+09
2020.0     331002651.0  1.380004e+09  1.439324e+09